blockquote, dd, div, dl, dt, form, h1, h2, h3, h4, h5, h6, li, ol, p, pre, td, th, ul {
  margin: 0;
  padding: 0;
}

dl, ol, ul {
  margin-bottom: 1rem;
  list-style-position: outside;
  line-height: 1.6;
}

button, input, optgroup, select, textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button {
  padding: 0;
  appearance: none;
  border: 0;
  border-radius: 0;
  background: 0 0;
  line-height: 1;
  cursor: auto;
}

.button {
  display: inline-block;
  vertical-align: middle;
  margin: 0 0 1rem 0;
  padding: .85em 1em;
  border: 1px solid transparent;
  border-radius: 0;
  transition: background-color .25s ease-out,color .25s ease-out;
  font-family: inherit;
  font-size: .9rem;
  line-height: 1;
  text-align: center;
  cursor: pointer;
}

.button, .button.disabled, .button.disabled:focus, .button.disabled:hover, .button[disabled], .button[disabled]:focus, .button[disabled]:hover {
  background-color: #1779ba;
  color: #fefefe;
}

.button:focus, .button:hover {
  background-color: #14679e;
  color: #fefefe;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  font-family: "Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
  font-style: normal;
  font-weight: 400;
  color: inherit;
  text-rendering: optimizeLegibility;
}

.h1, h1 {
  font-size: 1.5rem;
  line-height: 1.4;
  margin-top: 0;
  margin-bottom: .5rem;
}